
<section class="four-booth w-100">
	<app-header></app-header>
	<div  id="video" class="mainhall-video">
		<video id="mp4" loop controlsList="nodownload noremote foobar" autoplay muted="1">
		   <source src="../../../../assets/videos/main_hall.mp4" type="video/mp4">
		</video>
		<div id="spinner" class="poster">
		   <div class="cube"></div>
		   <div class="cube c2"></div>
		   <div class="cube c4"></div>
		   <div class="cube c3"></div>
		</div>
	 </div>
    <div class="container-fluid enterbooth">
	<div class="row">
		<div class="col-lg-3">

			<div class="pt-5 image-class resmar3">
	
				<img src="../../../../assets/images/animation.gif" alt="Computer man" class="img-stn">
				<a class="nav-link active mr-stn " (click)="yogaBooth()">Enter Booth</a> 
	</div>
		</div>
		<div class="col-lg-3">

			<div class="pt-5 image-class resmar1">
	
				<img src="../../../../assets/images/animation.gif" alt="Computer man" class="img-stn1">
				<a class="nav-link active mr-stn1 " (click)="thinkbooth()">Enter Booth</a> 
	</div>
		</div>
		<div class="col-lg-3">

			<div class="pt-5 image-class resmar2">
	
				<img src="../../../../assets/images/animation.gif" alt="Computer man" class="img-stn2">
				<a class="nav-link active mr-stn2 "(click)="thinkpad()">Enter Booth</a> 
	</div>
		</div>
		<div class="col-lg-3">

			<div class="pt-5 image-class resmar4">
	
				<img src="../../../../assets/images/animation.gif" alt="Computer man" class="img-stn3">
				<a class="nav-link active mr-stn3 " (click)="ideaPad()">Enter Booth</a> 
	</div>
		</div>
	</div>
</div>



<!-- <div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="d-flex">
				<div>
					<div class="yogabox">
					<ul class=" products-display12">
						<li class="nav-item"> <a class="nav-link active" href="index.html">View Products</a> </li>
						<li class="nav-item"> <a class="nav-link" href="about.html">Enquire Now </a> </li>
			</ul>
				</div>
			</div>
			<div class="ml-3">
				<div class="yogabox">
					<ul class=" products-display12">
						<li class="nav-item"> <a class="nav-link active" href="index.html">View Products</a> </li>
						<li class="nav-item"> <a class="nav-link" href="about.html">Enquire Now </a> </li>
			</ul>
				</div>
			</div>
			</div>
			
		</div>
		<div class="col-lg-6">
			<div class="d-flex justify-content-end">
				<div>
					<div class="yogabox">
					<ul class=" products-display12">
						<li class="nav-item"> <a class="nav-link active" href="index.html">View Products</a> </li>
						<li class="nav-item"> <a class="nav-link" href="about.html">Enquire Now </a> </li>
			</ul>
				</div>
			</div>
			<div class="ml-3">
				<div class="yogabox">
					<ul class=" products-display12">
						<li class="nav-item"> <a class="nav-link active" href="index.html">View Products</a> </li>
						<li class="nav-item"> <a class="nav-link" href="about.html">Enquire Now </a> </li>
			</ul>
				</div>
			</div>
			</div>
			
		</div>
		
		
	</div>
</div> -->


<!-- <a href="#" class="float">
    <img src="images/lenovo-side-01.png" class="img-fluid" alt="">
	   </a> -->
	   
	   <app-footer></app-footer>
	</section>


  <!-- leader pop -->

  <div class="modal fade" id="leaderboard" tabindex="-1" role="dialog" aria-labelledby="leaderboardTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content  leader-popup">
		<div class="modal-header pdn-stn bg-clr ">
			
					<h6 class="text-center white m-auto">LEADERBOARD</h6>
					<button type="button" class="close1" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
		
		<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button> -->
		</div>
		<div class="modal-body text-bckclr radius-stn text-center p-5">
		<h6 class="font-stn white  mt-3">Hi username,your points are 200.</h6>
		<!-- <hr class="bg-white mt-0 mb-2"> -->

		



		</div>
		<!-- <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary">Save changes</button>
		</div> -->
	</div>
	</div>
</div>

