<div class="bottom-buttons-lobby">
    <ul class=" justify-content-end">
        <li class="nav-item"> <a class="nav-link active" (click)="enterClickExhibition()">Exhibition</a> </li>
        <li class="nav-item"> <a class="nav-link" (click)="enterClicksolutions()">Solutions </a> </li>

        <li class="nav-item"> <a class="nav-link" (click)="enterClickNetworking()">Networking</a> </li>
        <li class="nav-item" id="tawkbutton">
             <!-- <a class="nav-link"  (click)="https://tawk.to/chat/5fdec7c1a8a254155ab4e1bd/1epv3ok0f" >May I Help You?</a> -->
             </li>
    </ul>
   </div>