<section class="thinkbook w-100">
<app-header></app-header>
<div class="listing-left">
    <ul class=" ">
        <li class="nav-item dropdown"> <a class="nav-link back dropdown-toggle" routerLink="../exhibition" data-toggle="dropdown">Back</a> </li>
    
        <li class="nav-item dropdown"> <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> 
             Products </a>
             <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="yogabooth.html"> Yogabooth</a></li>
                <li><a class="dropdown-item" href="thinkpadbooth.html"> Thinkpad booth </a></li>
                <li><a class="dropdown-item" href="legionbooth.html">Legion booth</a></li>
            
            </ul>
        </li>

    </ul>
</div>


<div  id="video" class="video-book">
    <video id="mp4"  loop  controlsList="nodownload noremote foobar">
     <source src="videos/ThinkBook.mp4" type="video/mp4">
      </video>
     
    <div id="spinner" class="poster">
      <div class="cube"></div>
      <div class="cube c2"></div>
      <div class="cube c4"></div>
      <div class="cube c3"></div>
    </div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-4">
<div class="d-flex">
<div>
    <div class="yogabox">
    <ul class=" products-display12">
        <li class="nav-item"> <a class="nav-link active" href="#" data-toggle="modal" data-target=".productview">View Products</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"  data-toggle="modal" data-target="#enqiurenow">Enquire Now </a> </li>
</ul>
</div>
</div>
    </div>

</div>
<div class="col-lg-4">

</div>
<div class="col-lg-4">
<div class="d-flex justify-content-end">
<div>
    <div class="yogabox1">
    <ul class=" products-display12">
        <li class="nav-item"> <a class="nav-link active" href="#"  data-toggle="modal" data-target=".productview">View Products</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"data-toggle="modal" data-target="#enqiurenow" >Enquire Now </a> </li>
</ul>
</div>
</div>
<!-- <div class="ml-3">
<div class="yogabox">
    <ul class=" products-display12">
        <li class="nav-item"> <a class="nav-link active" href="index.html">View Products</a> </li>
        <li class="nav-item"> <a class="nav-link" href="about.html">Enquire Now </a> </li>
</ul>
</div>
</div> -->
</div>

</div>


</div>
</div>
<app-footer></app-footer>
</section>