<section class="lobby w-100">
<app-header></app-header>
<div  id="video" class="videolobby ">
	<video id="mp4" loop  controlsList="nodownload noremote foobar" autoplay muted>
	 <source src="../../../../assets/videos/main_hall.mp4" type="video/mp4">
	  </video>

	<div id="spinner" class="poster">
	  <div class="cube"></div>
	  <div class="cube c2"></div>
	  <div class="cube c4"></div>
	  <div class="cube c3"></div>
	</div>
</div>
	<div class="container">
	<div class="row">
		<div class="col-lg-4">

			<div class="pt-5 lobby-image-class">
	
				<img src="../../../../assets/images/animation.gif" alt="Computer man" class="lobby-img-stn">
				<a class="nav-link lobby-nav-link active lobby-mr-stn " (click)="enterClicksolutions()">Enter</a> 
	</div>
	<div class="pt-5 lobby-image-class2">
	
		<!-- <img src="images/animation.gif" alt="Computer man" class="lobby-img-stn1"> -->
		<a class="nav-link active lobby-nav-link lobby-mr-stn1 " data-toggle="modal" data-target="#navigationpopup">Navigation</a> 
</div>
	
		</div>
		<!-- <div class="col-lg-3">
		
		
		</div> -->
		<div class="col-lg-4">

			<div class="pt-5 lobby-image-class">
	
				<img src="../../../../assets/images/animation.gif" alt="Computer man" class="lobby-img-stn2">
				<a class="nav-link active lobby-nav-link lobby-mr-stn2 " (click)="enterClickExhibition()">Enter</a> 
	</div>
		</div>
		<div class="col-lg-4">

			<div class="pt-5 lobby-image-class">
	
				<img src="../../../../assets/images/animation.gif" alt="Computer man" class="lobby-img-stn3">
				<a class="nav-link active  lobby-nav-link lobby-mr-stn3 " (click)="enterClickNetworking()">Enter</a> 
	</div>
		</div>
	</div>

	
</div>
<app-footer></app-footer>
<!-- <div class="bottom-buttons-lobby">
	<ul class=" justify-content-end">
		<li class="nav-item"> <a class="nav-link active" href="index.html">Exhibition</a> </li>
		<li class="nav-item"> <a class="nav-link" href="about.html">Webinar </a> </li>

		<li class="nav-item"> <a class="nav-link" href="contact.html">Networking</a> </li>
		<li class="nav-item"> <a class="nav-link" href="contact.html">May I Help You?</a> </li>
	</ul>
   </div> -->


<!-- <div class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="d-flex">
				<div>
					<div class="yogabox">
					<ul class=" products-display12">
						<li class="nav-item"> <a class="nav-link active" href="index.html">View Products</a> </li>
						<li class="nav-item"> <a class="nav-link" href="about.html">Enquire Now </a> </li>
			</ul>
				</div>
			</div>
			<div class="ml-3">
				<div class="yogabox">
					<ul class=" products-display12">
						<li class="nav-item"> <a class="nav-link active" href="index.html">View Products</a> </li>
						<li class="nav-item"> <a class="nav-link" href="about.html">Enquire Now </a> </li>
			</ul>
				</div>
			</div>
			</div>
			
		</div>
		<div class="col-lg-6">
			<div class="d-flex justify-content-end">
				<div>
					<div class="yogabox">
					<ul class=" products-display12">
						<li class="nav-item"> <a class="nav-link active" href="index.html">View Products</a> </li>
						<li class="nav-item"> <a class="nav-link" href="about.html">Enquire Now </a> </li>
			</ul>
				</div>
			</div>
			<div class="ml-3">
				<div class="yogabox">
					<ul class=" products-display12">
						<li class="nav-item"> <a class="nav-link active" href="index.html">View Products</a> </li>
						<li class="nav-item"> <a class="nav-link" href="about.html">Enquire Now </a> </li>
			</ul>
				</div>
			</div>
			</div>
			
		</div>
		
		
	</div>
</div> -->


<!-- <a href="#" class="float">
    <img src="images/lenovo-side-01.png" class="img-fluid" alt="">
	   </a> -->
	   
	 

	</section>
<!-- Video Popup -->
<div class="modal fade" id="videopopup" tabindex="-1" role="dialog" aria-labelledby="leaderboardTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg   vediopop ">
		<div class="vediopopauto ">
		   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		   <span aria-hidden="true">&times;</span>
		   </button>
		</div>
		<div class="modal-content ">

			<div  id="video1" class="videolobby-auto ">
				<video id="mp41" loop  controlsList="nodownload noremote foobar" width="100%" height="500px">
				 <source src="../../../../assets/videos/lobbyauto.mp4" type="video/mp4" >
				  </video>
		
				<div id="spinner1" class="poster1">
				  <div class="cube"></div>
				  <div class="cube c2"></div>
				  <div class="cube c4"></div>
				  <div class="cube c3"></div>
				</div>
			</div>

			<!-- <iframe src="https://player.vimeo.com/video/491305048?autoplay=1&loop=1&autopause=0" width="100%" height="450" 
			frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>	 -->
		</div>
	 </div>
</div>

<!-- Navigation  Popup -->
<div class="modal fade" id="navigationpopup"	 tabindex="-1" role="dialog" aria-labelledby="leaderboardTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg   vediopop">
		<div class=" ">
		   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		   <span aria-hidden="true">&times;</span>
		   </button>
		</div>
		<div class="modal-content ">

			<iframe src="https://player.vimeo.com/video/491305048" width="100%" height="450" 
			frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>	
		</div>
	 </div>
</div>