<section class="yogapage w-100">
    <app-header></app-header>
<div  id="video" class="video1">
    <video id="mp4"  loop  controlsList="nodownload noremote foobar" autoplay muted>
     <source src="../../../../assets/videos/yogabooth.mp4" type="video/mp4">
      </video>
     
    <div id="spinner" class="poster">
      <div class="cube"></div>
      <div class="cube c2"></div>
      <div class="cube c4"></div>
      <div class="cube c3"></div>
    </div>
</div>
<div class="listing-left">
    <ul class=" ">
        <li class="nav-item dropdown"> <a class="nav-link back dropdown-toggle" routerLink="../exhibition" >Back</a> </li>
    
        <li class="nav-item dropdown"> <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> 
             Select Booth </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="../thinkpad"> Thinkpad booth </a></li>
                <li><a class="dropdown-item" routerLink="../thinkbook">Thinkbook booth</a></li>
                <li><a class="dropdown-item" routerLink="../ideapad"> Legion booth</a></li>
            
            </ul>
        </li>

    </ul>
</div>


<div class="container">
<div class="row">
    <div class="col-lg-4">
        <div class="d-flex">
            <div>
                <div class="yogabox">
                <ul class=" products-display12">
                    <li class="nav-item"> <a class="nav-link active" href="#" data-toggle="modal" (click)="viewProducts('yogaproducts')" data-target=".productview">View Products</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#"  data-toggle="modal" data-target="#enqiurenow">Enquire Now </a> </li>
        </ul>
            </div>
        </div>
        
        </div>
        
    </div>
    <div class="col-lg-4">
    
    </div>
    <div class="col-lg-4">
        <div class="d-flex ">
            <div>
                <div class="yogabox2">
                <ul class=" products-display12">
                    <li class="nav-item"> <a class="nav-link active"  data-toggle="modal" (click)="viewProducts('ideapad products')" data-target=".ideapad">View Products</a> </li>
                    <li class="nav-item"> <a class="nav-link"  data-toggle="modal" data-target="#enqiurenow">Enquire Now </a> </li>
        </ul>
            </div>
        </div>
    
        </div>
        
    </div>
    
    
</div>
</div>



   
 
<app-footer></app-footer>
</section>

<!-- view product -->
<div class="modal fade productview" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg  p-3 requestcallform1">
  <div class="modal-header pb-2 pt-2">
    <h3 class="modal-title" id="exampleModalLongTitle">Browse Products</h3>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
  <div class="modal-content pr-3">
      <div class="d-flex pt-3">
        <div class="w-20 proimg">
            
                <img src="../../../../assets/images/products/yogabooth/yoga/Yoga-C940/yoga_c940.jpg" class="img-fluid" alt="" >
            
        </div>
          <div class="w-60 prodetail">
              <h5>Yoga C940</h5>
              <p>Meet the Yoga C940, a powerhouse 15.6" entertainment 2-in-1 engineered with your experience in mind. </p>
          </div>
          <div class="w-20 ">
              <div class="probtns">
                  <button><a href="https://www.jarir.com/lenovo-yoga-c940-2-in-1-laptops-534212.html">Buy Now</a></button>
                  <button><a href="../../../../assets/images/products/yogabooth/yoga/Yoga-C940/Yoga C940_14IIL-15IRH_Intel_DS_5518-190820_LR.pdf" target="_blank">Data Sheets</a></button>
                  <!-- <button>Product 360</button> -->
                  <button><a href="https://vimeo.com/491156211" target="_blank">Video Tour</a></button>
              </div>
          </div>
      </div>
      <div class="d-flex ">
        <div class="w-20 proimg">
            
            <img src="../../../../assets/images/products/yogabooth/yoga/Yoga-Creator7/01_Yoga_Creator_7_Metal_Dark_Moss_Glass_GTX_Hero_Front_Facing_4.3.jpg" class="img-fluid" alt="" >
        
    </div>
          <div class="w-60 prodetail">
              <h5>Yoga Creator 7</h5>
              <p>Made for people who use technology to express themselves, the Yoga Creator 7i is a lightweight, all-metal creative companion. </p>
          </div>
          <div class="w-20 ">
              <div class="probtns">
                  <button><a href="https://www.jarir.com/lenovo-yoga-creator-7-15imh05-laptops-548205.html">Buy Now</a></button>
                  <button><a href="../../../../assets/images/products/yogabooth/yoga/Yoga-Creator7/Yoga Creator 7_SSVersion_DS_5870R-200622_AEM.pdf" target="_blank">Data Sheets</a></button>
                  <button><a href="https://vimeo.com/491158564" target="_blank">Product 360</a></button>
                  <!-- <button><a href="#">Video Tour</a></button> -->
              </div>
          </div>
      </div>
      <div class="d-flex ">
        <div class="w-20 proimg">
            
            <img src="../../../../assets/images/products/yogabooth/yoga/Yoga-Slim7/01_YOGA_SLIM_7_14INCH_FABRIC_SLATE_GREY_GLASS_FPR_HERO_FRONT_FACING_INTEL.png" class="img-fluid" alt="" >
        
    </div>
          <div class="w-60 prodetail">
              <h5>Yoga Slim 7</h5>
              <p>Crafted from premium aluminum, the Yoga Slim 7 combines the advanced performance of 10th Gen
                  Intel® Core™ processors with powerful graphics options and up to 13 hours of battery life</p>
          </div>
          <div class="w-20 ">
              <div class="probtns">
                  <button><a href="https://www.jarir.com/lenovo-yoga-slim-7-14iil05-laptops-548207.html">Buy Now</a></button>
                  <button><a href="../../../../assets/images/products/yogabooth/yoga/Yoga-Slim7/Yoga-Slim-7-(14_&15.6_)_INTEL_DS_5844-191217_LR (1).pdf" target="_blank">Data Sheets</a></button>

                  <button><a href="https://vimeo.com/491160274" target="_blank">Product 360</a></button>
                  <button><a href="https://vimeo.com/491160231" target="_blank">Video Tour</a></button>
              </div>
          </div>
      </div>
      <div class="d-flex ">
        <div class="w-20 proimg">
            
            <img src="../../../../assets/images/products/yogabooth/yoga/Yoga-S940/03_S940_Hero_Front_Forward_Facing_JD.jpg" class="img-fluid" alt="" >
        
    </div>
        <div class="w-60 prodetail">
            <h5>Yoga S940</h5>
            <p>The ultraslim Yoga S940 offers elevated design with no compromise, featuring premium entertainment and a range of intelligent features designed to make your life easier.</p>
        </div>
        <div class="w-20 ">
            <div class="probtns">
                <button><a href="https://www.extra.com/ar-sa/computer/laptops/clamshell/lenovo-yoga-s940-core-i7-14-inch-16gb-ram-1tb-iron-grey/p/100143159">Buy Now</a></button>
                <button><a href="../../../../assets/images/products/yogabooth/yoga/Yoga-S940/Yoga-S940-14IWL_Intel_DS_4954K_190320_LR.pdf" target="_blank">Data Sheets</a></button>

                <button><a href="https://vimeo.com/491158942" target="_blank">Product 360</a></button>
                <button><a href="https://vimeo.com/491159130" target="_blank">Video Tour</a></button>
            </div>
        </div>
    </div>
  </div>
</div>
</div>




<!-- ideapad -->
<div class="modal fade ideapad" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg  p-3 requestcallform1">
  <div class="modal-header pb-2 pt-2">
    <h3 class="modal-title" id="exampleModalLongTitle">Browse Products</h3>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
  <div class="modal-content pr-3">
      <div class="d-flex pt-3">
        <div class="w-20 proimg">
            
                <img src="../../../../assets/images/products/yogabooth/ideapad/ideapad3/552474_1.jpg" class="img-fluid" alt="" >
            
        </div>
          <div class="w-60 prodetail">
              <h5>Ideapad 3i</h5>
              <p>Engineered for long-lasting performance, the Lenovo™ IdeaPad™ 3i is the perfect laptop for
                your everyday tasks with features that you can depend on.</p>
          </div>
          <div class="w-20 ">
              <div class="probtns">
                  <button><a href="https://www.jarir.com/lenovo-ideapad-3-laptops-552474.html"target="_blank">Buy Now</a></button>
                  <!-- <button><a href="#" target="_blank">Data Sheets</a></button> -->
                  <button> <a href="https://vimeo.com/491977576" target="_blank"> Product 360</a></button>
                  <!-- <button><a href="#">Video Tour</a></button> -->
              </div>
          </div>
      </div>
      <div class="d-flex ">
        <div class="w-20 proimg">
            
            <img src="../../../../assets/images/products/yogabooth/ideapad/ideapad5/100199405_100_01.jfif" class="img-fluid" alt="" >
        
    </div>
          <div class="w-60 prodetail">
              <h5>Ideapad Creator 5i</h5>
              <p>Unleash your full creative potential with the Lenovo™ IdeaPad™ Creator 5i, a performance machine
                fueled by uncompromising power and immaculate display clarity, while packing original features
                tailored for creativity applications. </p>
          </div>
          <div class="w-20 ">
              <div class="probtns">
                  <button><a href="https://www.extra.com/ar-sa/computer/laptops/clamshell/lenovo-ideapad-creator-5-core-i7-15-6-inch-16gb-ram-1tb-128gb-ssd-dark-moss/p/100199405" target="_blank">Buy Now</a></button>
                  <!-- <button><a href="#" target="_blank">Data Sheets</a></button> -->
                  <button><a href="https://vimeo.com/491977588" target="_blank">Product 360</a></button>
                  <!-- <button><a href="#">Video Tour</a></button> -->
              </div>
          </div>
      </div>

    
  </div>
</div>
</div>



































<!-- yoga c940 -->
<div class="modal fade yoga-c940" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg  p-3 requestcallform1">
  <div class="modal-header pb-2 pt-2">
    <!-- <h3 class="modal-title" id="exampleModalLongTitle">Browse Products</h3> -->
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
  <div class="modal-content pr-3">
    <iframe width="100%" height="315" src="https://vimeo.com/491156211" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe>

    
  </div>
</div>
</div>























<!-- enqire now-->
<!-- Modal -->
<div class="modal fade" id="enqiurenow" tabindex="-1" role="dialog" aria-labelledby="enqiurenowTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">


      <div class="modal-content p-2 requestcallform">
        <div class="modal-header ">
          <h5 class="modal-title" id="exampleModalLongTitle">Product Enquiry</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
    
    
          <form class="gform" method="POST" name="eniqueryform" data-email="lenovobrandday@gmail.com" action="https://script.google.com/macros/s/AKfycbx9Lmmjm6X_O2_W7fA5xD1Q7qgAMkZG0GaHLwqRKw/exec">
    <div class="form-elements">
    <h6 class="font-stn">Fill In your Personal Information</h6>
    <hr class="bg-white mt-0 mb-2">
            <div class="row">
              <div class="col-lg-6">
              <div class="form-group">
                <label for="">Full Name</label>
                <input type="text" class="form-control"  placeholder="" name="Name" id="Name">
                </div>
                <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control"  placeholder="" name="email">
                </div>
                <div class="form-group">
                <label for="">Company</label>
                <input type="text" class="form-control"  placeholder="" name="company">
                </div>
              </div>
              <div class="col-lg-6">
              <div class="form-group">
                <label for="">Mobile</label>
                <input type="text" class="form-control"  placeholder="" name="phone">
                </div>
                <div class="form-group">
                <label for="">Country </label>
                <input type="text" class="form-control"  placeholder="" name="country">
                </div>
                <div class="form-group">
                <label for="">Job Title</label>
                <input type="text" class="form-control"  placeholder="" name="jobtitle">
                </div>
              </div>
            </div>
    
    
            <h6 class="mt-4 font-stn">Select the Product you want to enquire</h6>
            <hr class="bg-white mt-0 mb-2">
            <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Product Type</label>
                <select class="form-control" name="product">
                  <option value="">Please Select</option>
                  <option value="Yoga" class="bgoption">Yoga</option>
                  <option value="Yoga-C940">Yoga C940</option>
                  <option value="Yoga-Creator-7">Yoga Creator 7</option>
                  <option value="">Yoga Slim 7</option>
                  <option value="">Yoga S940</option>
    
                  <option value="" class="bgoption">Ideapad</option>
                  <option value="">Ideapad 3i</option>
                  <option value="">Ideapad Creator 5i</option>
                  
                  <option value="" class="bgoption">Legion</option>
                  <option value="">Legion 5</option>
                  <option value="">Legion 7</option>
                  <option value="">Legion Tower 5i</option>
    
                  <option value="" class="bgoption">Ideapad Gaming</option>
                  <option value="">IdeaPad Gaming 3</option>
    
                  <option value="" class="bgoption">Thinkbook</option>
                  <option value="">ThinkBook 13s</option>
                  <option value="">Thinkbook 14</option>
                  <option value="">Thinkbook 15</option>
                  <option value="">ThinkBook Plus</option>
    
                  <option value="" class="bgoption">Thinkpad</option>
                  <option value="">ThinkPad X1 Carbon</option>
                  <option value="">ThinkPad x1 Extreme</option>
                  <option value="">ThinkPad X1 Yoga</option>
                  <option value="">ThinkPad X1 Fold</option>
                  <option value="">ThinkPad X13</option>
                  <option value="">ThinkPad P1 Gen 2</option>
                  <option value="">ThinkPad P14s G1</option>
                  <option value="">ThinkPad T14</option>
                  <option value="">ThinkPad E14</option>
    
                  <option value="" class="bgoption">Thinkstation</option>
                  <option value="">Thinkstation P920</option>
                  <option value="">ThinkStation P620</option>
    
                  <option value="" class="bgoption">Thinkcentre</option>
                  <option value="">M90n Nano IoT</option>
                  <option value="">M90n Nano</option>
                  <option value="">ThinkCentre M75q-1</option>
                  <option value="">ThinkCentre M920t</option>
                  <option value="">Tiny-in-One 24 (Gen 4)</option>
                  <option value="">M725 SFF</option>
    
                  <option value="" class="bgoption">Thinksmart</option>
                  <option value="">ThinkSmart Hub 500</option>
                </select>
                </div>
            
                
              </div>
    
            <div class="col-lg-12">
              <div class="checkboxstyle">
                <div class="form-group">
    
                  <input type="checkbox" id="check5" name="outline" value="I would like a stc sales representative to contact me">
                  <label for="check5">Do you want to receive a quote for above mentioned product?</label>
                  <br>
                  <input type="checkbox" id="check6" name="outline" value="I would like to receive email communications about services and offerings from">
                  <label for="check6">Do you want our sales to give a call regarding the product?</label>
                </div>
              </div>
            </div>
          </div>
    
    
      
    
    <div class="col-lg-12 text-center">
          <button type="submit" id="submitbtn" class="btn-white">Submit</button>
        </div>
      </div>
        <div style="display:none" class="thankyou_message">
          <h2>Thank you for contacting us! We will get back to you soon!
          </h2>
        </div>
          </form>
    
    
    
    
    
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>


    </div>
  </div>



    <!-- leader pop -->

<div class="modal fade" id="leaderboard" tabindex="-1" role="dialog" aria-labelledby="leaderboardTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content  leader-popup">
        <div class="modal-header pdn-stn bg-clr ">
            
                    <h6 class="text-center white m-auto">LEADERBOARD</h6>
            
        
        <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body text-bckclr radius-stn text-center p-5">
        <h6 class="font-stn white  mt-3">Hi username,your points are 200.</h6>
        <!-- <hr class="bg-white mt-0 mb-2"> -->

        



        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
    </div>
    </div>
</div>

