<section class="thinkpad w-100">
<app-header></app-header>
<div  id="video" class="video2">
    <video id="mp4"  loop  controlsList="nodownload noremote foobar">
     <source src="../../../../assets/videos/thinkpadbooth.mp4" type="video/mp4">
      </video>
     
    <div id="spinner" class="poster">
      <div class="cube"></div>
      <div class="cube c2"></div>
      <div class="cube c4"></div>
      <div class="cube c3"></div>
    </div>
</div>

<div class="listing-left">
            <ul class=" ">
                <li class="nav-item dropdown"> <a class="nav-link back dropdown-toggle" routerLink="../exhibition" data-toggle="dropdown">Back</a> </li>
            
                <li class="nav-item dropdown"> <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> 
                     Products </a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="../yoga"> Yoga booth</a></li>
                        <li><a class="dropdown-item" routerLink="../ideapad"> Legion booth </a></li>
                        <li><a class="dropdown-item" routerLink="../thinkbook">Thinkbook booth</a></li>
                    
                    </ul>
                </li>
    
            </ul>
        </div>



<div class="container">
<div class="row">
<div class="col-lg-4">
    <div class="d-flex">
        <div>
            <div class="yogabox">
                <ul class=" products-display12">
                    <li class="nav-item"> <a class="nav-link active" href="#" data-toggle="modal" (click)="viewProducts('thinkbook products')" data-target=".productview">View Products</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#"  data-toggle="modal" data-target="#enqiurenow">Enquire Now </a> </li>
        </ul>
            </div>
    </div>
    <div class="ml-3">
        <div class="yogabox1">
            <ul class=" products-display12">
                <li class="nav-item"> <a class="nav-link active" href="#" data-toggle="modal" (click)="viewProducts('thinkbook products')" data-target=".thinkstation">View Products</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#"  data-toggle="modal" data-target="#enqiurenow">Enquire Now </a> </li>
    </ul>
        </div>	
    </div>
    </div>
    
</div>
<div class="col-lg-4">
    
    <!-- <video controls autoplay>
        <source src="https://www.youtube.com/embed/v64KOxKVLVg" type="video/mp4">
        <source src="https://www.youtube.com/embed/v64KOxKVLVg" type="video/ogg">
        
      </video> -->
</div>
<div class="col-lg-4">
    <div class="d-flex ">
        <div>
            <div class="yogabox3">
                <ul class=" products-display12">
                    <li class="nav-item"> <a class="nav-link active" href="#" data-toggle="modal" data-target=".thinkcenter">View Products</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#"  data-toggle="modal" data-target="#enqiurenow">Enquire Now </a> </li>
        </ul>
            </div>
    </div>
    <div class="ml-3">
        <div class="yogabox4">
            <ul class=" products-display12">
                <li class="nav-item"> <a class="nav-link active" href="#" data-toggle="modal" data-target=".thinksmart">View Products</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#"  data-toggle="modal" data-target="#enqiurenow">Enquire Now </a> </li>
    </ul>
        </div>	
    </div>
    </div>
    
</div>


</div>
</div>
<app-footer></app-footer>
</section>



