<section class="ondemand w-100">
    <app-header></app-header>

    <div class="container-fluid  pt-3" >
        <div class="col-lg-8 offset-lg-2 pt-5">


            <div class="ondemandbox">
                <h3 class="fnt-size ml-2">Solutions</h3>
                <div class="row">
                   <div class="col-lg-12 pl-4 pr-4">
                      <h4 class="mb-0 fnt-stn">Education</h4>
                      <hr class="bg-white pt-0 mt-0 mb-0 pb-0">
                   </div>
                   <div class="d-flex p-2  w-100">
                      <div class="m-auto">
                         <span >1.</span>
                      </div>
                      <div class="w-60 m-auto">
                         <div class=" pl-2">
                            <h6 class="mb-1 fnt-stn2">Built for everything the future holds.</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link"  target="_blank" data-toggle="modal" data-target="#productview">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Education/Built-for-everything-the-future-holds.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >2.</span>
                      </div>
                      <div class="w-60 m-auto">
                         <div class=" pl-2">
                            <h6 class="mb-1 fnt-stn2">Lenovo Education Distance Learning One-Pager</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".education2" >View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Education/Lenovo-Education-Distance-Learning-One-Pager.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >3.</span>
                      </div>
                      <div class="w-60 m-auto">
                         <div class=" pl-2">
                            <h6 class="mb-1 fnt-stn2">LENOVO EDUCATION PORTFOLIO 2020</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".education3">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Education/LENOVO-EDUCATION-PORTFOLIO-2020.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >4.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-1 fnt-stn2">Lenovo Redefining Classroom One-Pager-R3</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".education4">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Education/Lenovo-Redefining-Classroom-One-Pager-R3.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >5.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-1 fnt-stn2">Lenovo Teachers-Admins One-Pager</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".education5">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Education/Lenovo-Teachers-Admins-One-Pager.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="mt-3 m-auto">
                         <span >6.</span>
                      </div>
                      <div class="w-60 m-auto " >
                         <div class="pl-2 mt-3">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">Redefining the Classroom</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-lg-12 pl-4 pr-4">
                      <h4 class="mb-0 fnt-stn">Health</h4>
                      <hr class="bg-white pt-0 mt-0 mb-0 pb-0">
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >7.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">Healthcare CIO Endpoint Device Guidebook</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".health1">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Health/Healthcare-CIO-Endpoint-Device-Guidebook.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >8.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">Healthcare Security - eBook</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".health2">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Health/Healthcare-Security-eBook.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >9.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">Lenovo Disinfecting eBook</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".health3">View PDF</a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Health/Lenovo-Disinfecting-eBook.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >10.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">Lenovo Laptops For Healthcare Flyer</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".health4">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Health/Lenovo-Laptops-For-Healthcare-Flyer.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >11.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">Remote Reading eBook </h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".health5">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Health/Remote-Reading-eBook.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >12.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">ThinkCentre Nano Buyers Guide</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".health6">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Health/ThinkCentre-Nano-Buyers-Guide.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >13.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">why lenovo health brochure</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".health7">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Health/why-lenovo-health-brochure.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-lg-12 pl-4 pr-4">
                      <h4 class="mb-0 fnt-stn">Security</h4>
                      <hr class="bg-white pt-0 mt-0 mb-0 pb-0">
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >14.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">ThinkShield Solutions Guide Close Security Blindspots</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".security1">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Security/ThinkShield-Solutions-Guide-CloseSecurityBlindspots.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >15.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">ThinkShield Solutions Guide Most Important Thing</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".security2">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Security/ThinkShieldSolutions-Guide.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >16.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">ThinkShield Solutions Guide Working Harder</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".security3">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Security/ThinkShieldSolutionsGuideWorkingHarder.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >17.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">ThinkShield Solutions Guide</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".security4">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/Security/ThinkShieldSolutionsGuideMostImportantThing.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto mt-3">
                         <span >18.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">ThinkShield-Securing-End-to-End-Video</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg-security"> Play Video</a> </li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-lg-12 pl-4 pr-4">
                      <h4 class="mb-0 fnt-stn">SMB</h4>
                      <hr class="bg-white pt-0 mt-0 mb-0 pb-0">
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >19.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">Start Up Buyers Guide Design</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".smb1">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/SMB/Start-Up-Buyers-Guide-Design.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >20.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">Start Up Solution Brochure</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".smb2">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/SMB/Start-Up-Solution-Brochure.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >21.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">The new normal for today’s workforce</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".smb3">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/SMB/The-new-normal-for-todayGÇÖs-workforce.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-lg-12 pl-4 pr-4">
                      <h4 class="mb-0 fnt-stn">Thinksmart</h4>
                      <hr class="bg-white pt-0 mt-0 mb-0 pb-0">
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >22.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">Smart Office Professional Services</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".thinksmart1">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/ThinkSmart/SmartOfficeProfessionalServices.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >23.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">ThinkSmart Portfolio</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".thinksmart2">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/ThinkSmart/ThinkSmartPortfolio.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                   <hr class="hori1">
                   <div class="d-flex p-2 w-100">
                      <div class="m-auto">
                         <span >24.</span>
                      </div>
                      <div class="w-60 m-auto" >
                         <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2"></h6>
                            <h6 class="mb-1 fnt-stn2">Why Lenovo</h6>
                         </div>
                      </div>
                      <div class=" solutionbtnlist ">
                         <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target=".thinksmart3">View PDF </a> </li>
                            <li class="nav-item"> <a class="nav-link" download="" href="../../../../assets/images/Solution/Solution/ThinkSmart/Why-Lenovo.pdf" target="_blank">Download PDF</a> </li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
    </div>

</div>

       <!-- <app-footer></app-footer>

    </section> -->




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg   vediopop">
  <div class=" ">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
  <div class="modal-content ">
    <iframe width="100%" height="315" src="https://vimeo.com/491305048" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

  </div>
</div>
</div>



<!-- security popup -->
<div class="modal fade bd-example-modal-lg-security" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg   vediopop">
  <div class=" ">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
  <div class="modal-content ">
    <iframe width="100%" height="315" src="https://vimeo.com/491305111" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
</div>
<!-- leader pop -->

<div class="modal fade" id="leaderboard" tabindex="-1" role="dialog" aria-labelledby="leaderboardTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content  leader-popup">
    <div class="modal-header pdn-stn bg-clr ">
       <h6 class="text-center white m-auto">LEADERBOARD</h6>
       <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body text-bckclr radius-stn text-center p-5">
    <h6 class="font-stn white  mt-3">Hi username,your points are 200.</h6>
    </div>
</div>
</div>

    </div>



       <app-footer></app-footer>

    </section>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg   vediopop">
  <div class=" ">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
  <div class="modal-content ">
    <iframe width="100%" height="315" src="https://vimeo.com/491305048" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

  </div>
</div>
</div>



<!-- security popup -->
<div class="modal fade bd-example-modal-lg-security" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg   vediopop">
  <div class=" ">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
  <div class="modal-content ">
    <iframe width="100%" height="315" src="https://vimeo.com/491305111" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
</div>
<!-- leader pop -->

<div class="modal fade" id="leaderboard" tabindex="-1" role="dialog" aria-labelledby="leaderboardTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content  leader-popup">
    <div class="modal-header pdn-stn bg-clr ">
       <h6 class="text-center white m-auto">LEADERBOARD</h6>
       <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body text-bckclr radius-stn text-center p-5">
    <h6 class="font-stn white  mt-3">Hi username,your points are 200.</h6>
    </div>
</div>
</div>








<!-- popups start -->
  <!-- view product -->
  <div class="modal fade" id="productview" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Education/Built-for-everything-the-future-holds.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- education2 -->
 <div class="modal fade education2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Education/Lenovo-Education-Distance-Learning-One-Pager.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- education3 -->
 <div class="modal fade education3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Education/LENOVO-EDUCATION-PORTFOLIO-2020.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- education4 -->
 <div class="modal fade education4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Education/Lenovo-Redefining-Classroom-One-Pager-R3.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- education5 -->
 <div class="modal fade education5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Education/Lenovo-Teachers-Admins-One-Pager.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- health -->
 <!-- health1 -->
 <div class="modal fade health1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Health/Healthcare-CIO-Endpoint-Device-Guidebook.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- health2 -->
 <div class="modal fade health2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Health/Healthcare-Security-eBook.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- health3 -->
 <div class="modal fade health3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Health/Lenovo-Disinfecting-eBook.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- health4 -->
 <div class="modal fade health4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Health/Lenovo-Laptops-For-Healthcare-Flyer.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- health5 -->
 <div class="modal fade health5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Health/Remote-Reading-eBook.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- health6 -->
 <div class="modal fade health6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Health/ThinkCentre-Nano-Buyers-Guide.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- health7 -->
 <div class="modal fade health7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Health/why-lenovo-health-brochure.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- security -->
 <!-- security1 -->
 <div class="modal fade security1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Security/ThinkShield-Solutions-Guide-CloseSecurityBlindspots.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- security2 -->
 <div class="modal fade security2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Security/ThinkShieldSolutionsGuideMostImportantThing.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- security3 -->
 <div class="modal fade security3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Security/ThinkShieldSolutionsGuideWorkingHarder.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- security4 -->
 <div class="modal fade security4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/Security/ThinkShieldSolutions-Guide.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- security5 -->
 <!--
    <div class="modal fade security5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg   pdfform">
          <div class="modal-header ">
            <h3 class="modal-title" id="exampleModalLongTitle"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-content ">
            <div class="pdfcontainer">
                <embed src="../../../../assets/images/Solution/Solution/Security/" width="100%" height="500px"  />

        </div>
        </div>
        </div>
      </div>
     -->
 <!-- SMB -->
 <div class="modal fade smb1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/SMB/Start-Up-Buyers-Guide-Design.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- SMB2 -->
 <div class="modal fade smb2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/SMB/Start-Up-Solution-Brochure.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- SMB3 -->
 <div class="modal fade smb3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/SMB/The-new-normal-for-todayGÇÖs-workforce.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- thinksmart -->
 <!-- thinksmart -->
 <div class="modal fade thinksmart1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/ThinkSmart/SmartOfficeProfessionalServices.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- thinksmart2 -->
 <div class="modal fade thinksmart2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/ThinkSmart/ThinkSmartPortfolio.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
 <!-- thinksmart3 -->
 <div class="modal fade thinksmart3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg   pdfform">
       <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-content ">
          <div class="pdfcontainer">
             <embed src="../../../../assets/images/Solution/Solution/ThinkSmart/Why-Lenovo.pdf" width="100%" height="500px"  />
          </div>
       </div>
    </div>
 </div>
