
<section class="ondemand w-100">
    <app-header></app-header>        

    <div class="container-fluid  pt-3" >
        <div class="col-lg-8 offset-lg-2 pt-5">
            <div class="ondemandbox">
                <h3 class="fnt-size ml-3">Solutions</h3>
                <div class="row">
                   
                <div class="d-flex p-2  w-100">
                    <div class="m-auto">
                        <span >1.</span>
                    </div>
                  
                    <div class="w-60 m-auto">
                        <!-- <h4 class="">Education</h4> -->
                        <div class=" pl-2">

                          

                            <h6 class="mb-0 fnt-stn2">Education</h6>
                            <h6 class="mb-1 fnt-stn2">Built for everything the future holds.</h6>
                           </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Education/Built-for-everything-the-future-holds.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" download="" href="images/Solution/Solution/Education/Built-for-everything-the-future-holds.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >2.</span>
                    </div>
                    <div class="w-60 m-auto">
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Education</h6>
                            <h6 class="mb-1 fnt-stn2">Lenovo Education Distance Learning One-Pager</h6>
                            <!-- <h6 class="mb-1 fnt-stn2">Delivering the Promise of Digital Change</h6> -->
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Education/Lenovo-Education-Distance-Learning-One-Pager.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Education/Lenovo-Education-Distance-Learning-One-Pager.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >3.</span>
                    </div>
                    <div class="w-60 m-auto">
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Education</h6>
                            <h6 class="mb-1 fnt-stn2">LENOVO EDUCATION PORTFOLIO 2020</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Education/LENOVO-EDUCATION-PORTFOLIO-2020.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Education/LENOVO-EDUCATION-PORTFOLIO-2020.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >4.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Education</h6>
                            <h6 class="mb-1 fnt-stn2">Lenovo Redefining Classroom One-Pager-R3</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Education/Lenovo-Redefining-Classroom-One-Pager-R3.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Education/Lenovo-Redefining-Classroom-One-Pager-R3.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>

                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >5.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Education</h6>
                            <h6 class="mb-1 fnt-stn2">Lenovo Teachers-Admins One-Pager</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Education/Lenovo-Teachers-Admins-One-Pager.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Education/Lenovo-Teachers-Admins-One-Pager.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="">
                        <span >6.</span>
                    </div>
                    <div class="w-60 " >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Education</h6>
                            <h6 class="mb-1 fnt-stn2">Redefining the Classroom</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <li class="nav-item"> <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li>
                            <!-- <li class="nav-item"> <a class="nav-link" href="#">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="#">Download Pdf</a> </li> -->
                        </ul>
                       
                     </div>
                </div>












                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >7.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Health</h6>
                            <h6 class="mb-1 fnt-stn2">Healthcare CIO Endpoint Device Guidebook</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Healthcare-CIO-Endpoint-Device-Guidebook.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Healthcare-CIO-Endpoint-Device-Guidebook.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >8.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Health</h6>
                            <h6 class="mb-1 fnt-stn2">Healthcare Security - eBook</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Healthcare-Security-eBook.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Healthcare-Security-eBook.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >9.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Health</h6>
                            <h6 class="mb-1 fnt-stn2">Lenovo Disinfecting eBook</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <!-- <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Lenovo-Disinfecting-eBook.pdf" -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Lenovo-Disinfecting-eBook.pdf" target="_blank">View Pdf</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Lenovo-Disinfecting-eBook.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >10.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Health</h6>
                            <h6 class="mb-1 fnt-stn2">Lenovo Laptops For Healthcare Flyer</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Lenovo-Laptops-For-Healthcare-Flyer.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Lenovo-Laptops-For-Healthcare-Flyer.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >11.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Health</h6>
                            <h6 class="mb-1 fnt-stn2">Remote Reading eBook </h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Remote-Reading-eBook.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/Remote-Reading-eBook.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >12.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Health</h6>
                            <h6 class="mb-1 fnt-stn2">ThinkCentre Nano Buyers Guide</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/ThinkCentre-Nano-Buyers-Guide.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/ThinkCentre-Nano-Buyers-Guide.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >13.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Health</h6>
                            <h6 class="mb-1 fnt-stn2">why lenovo health brochure</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/why-lenovo-health-brochure.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/why-lenovo-health-brochure.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>













                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >14.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Security</h6>
                            <h6 class="mb-1 fnt-stn2">ThinkShield Solutions Guide Close Security Blindspots</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Security/ThinkShield-Solutions-Guide-CloseSecurityBlindspots.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Security/ThinkShield-Solutions-Guide-CloseSecurityBlindspots.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >15.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Security</h6>
                            <h6 class="mb-1 fnt-stn2">ThinkShield Solutions Guide Most Important Thing</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Security/ThinkShieldSolutions-Guide.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Security/ThinkShieldSolutions-Guide.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >16.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Security</h6>
                            <h6 class="mb-1 fnt-stn2">ThinkShield Solutions Guide Working Harder</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Security/ThinkShieldSolutionsGuideWorkingHarder.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Security/ThinkShieldSolutionsGuideWorkingHarder.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >17.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Security</h6>
                            <h6 class="mb-1 fnt-stn2">ThinkShield Solutions Guide</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Security/ThinkShieldSolutionsGuideMostImportantThing.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Security/ThinkShieldSolutionsGuideMostImportantThing.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="">
                        <span >18.</span>
                    </div>
                    <div class="w-60" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Security</h6>
                            <h6 class="mb-1 fnt-stn2">ThinkShield-Securing-End-to-End-Video</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg-security"> Play Video</a> </li>
                            <!-- <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/why-lenovo-health-brochure.pdf" target="_blank">View Pdf </a> </li> -->
                
                            <!-- <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/Health/why-lenovo-health-brochure.pdf" target="_blank">Download Pdf</a> </li> -->
                        </ul>
                       
                     </div>
                </div>



















                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >19.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">SMB</h6>
                            <h6 class="mb-1 fnt-stn2">Start Up Buyers Guide Design</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/SMB/Start-Up-Buyers-Guide-Design.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/SMB/Start-Up-Buyers-Guide-Design.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >20.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">SMB</h6>
                            <h6 class="mb-1 fnt-stn2">Start Up Solution Brochure</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/SMB/Start-Up-Solution-Brochure.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/SMB/Start-Up-Solution-Brochure.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >21.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">SMB</h6>
                            <h6 class="mb-1 fnt-stn2">The new normal for today’s workforce</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/SMB/The-new-normal-for-todayGÇÖs-workforce.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/SMB/The-new-normal-for-todayGÇÖs-workforce.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>





















                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >22.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Thinksmart</h6>
                            <h6 class="mb-1 fnt-stn2">Smart Office Professional Services</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/ThinkSmart/SmartOfficeProfessionalServices.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/ThinkSmart/SmartOfficeProfessionalServices.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >23.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Thinksmart</h6>
                            <h6 class="mb-1 fnt-stn2">ThinkSmart Portfolio</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/ThinkSmart/ThinkSmartPortfolio.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/ThinkSmart/ThinkSmartPortfolio.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>
                <hr class="hori1">
                <div class="d-flex p-2 w-100">
                    <div class="m-auto">
                        <span >24.</span>
                    </div>
                    <div class="w-60 m-auto" >
                        
                        <div class=" pl-2">
                            <h6 class="mb-0 fnt-stn2">Thinksmart</h6>
                            <h6 class="mb-1 fnt-stn2">Why Lenovo</h6>
                         </div>
                       
                    </div>
                    <div class=" solutionbtnlist ">
                        <ul class=" pt-2 d-flex">
                            <!-- <li class="nav-item">   <a href="#" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg"> Play Video</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/ThinkSmart/Why-Lenovo.pdf" target="_blank">View Pdf </a> </li>
                
                            <li class="nav-item"> <a class="nav-link" href="images/Solution/Solution/ThinkSmart/Why-Lenovo.pdf" target="_blank">Download Pdf</a> </li>
                        </ul>
                       
                     </div>
                </div>














             
            </div>
        </div>
    </div>
  
<!-- <a href="#" class="float">
    <img src="images/lenovo-side-01.png" class="img-fluid" alt="">
       </a> -->
       
       <app-footer></app-footer>
        </div>
    </section>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg   vediopop">
  <div class=" ">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
  <div class="modal-content ">
    <iframe width="100%" height="315" src="https://vimeo.com/491305048" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    
  </div>
</div>
</div>



<!-- security popup -->
<div class="modal fade bd-example-modal-lg-security" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg   vediopop">
  <div class=" ">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
  <div class="modal-content ">
    <iframe width="100%" height="315" src="https://vimeo.com/491305111" frameborder="0"
     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
</div>
<!-- leader pop -->

<div class="modal fade" id="leaderboard" tabindex="-1" role="dialog" aria-labelledby="leaderboardTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content  leader-popup">
    <div class="modal-header pdn-stn bg-clr ">
       <h6 class="text-center white m-auto">LEADERBOARD</h6>
       <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body text-bckclr radius-stn text-center p-5">
    <h6 class="font-stn white  mt-3">Hi username,your points are 200.</h6>
    </div>
</div>
</div>
